// push
.push-enter-active,
.push-leave-active {
  transition: all .3s;
}

.push-enter-active {
  transition-delay: .2s;
}

.push-enter,
.push-leave-active {
  transform: translateY(-50px) scaleY(0);
}

// slide-right
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all .3s;
}

.slide-right-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translateX(200px);
}

// slide-left
.menu-sidebar-enter-active,
.menu-sidebar-leave-active {
  transition: all .2s ease-in-out;
}

.menu-sidebar-enter,
.menu-sidebar-leave-active {
  opacity: 0;
}


// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}

.fade-enter-active {
  transition-delay: .3s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// transition-router-app
.transition-router-app-enter-active,
.transition-router-app-leave-active {
  transition: all .4s;
}

.transition-router-app-enter {
  // transform: translateX(-500px);
  // transition-delay: .6s;
}

.transition-router-app-leave-active {
  opacity: 0;
}

// slideDown
.slideDown-enter-active,
.slideDown-leave-active {
  transition: all .7s;
}

.slideDown-enter-active {
  transition-delay: .1s;
}

.slideDown-enter,
.slideDown-leave-active {
  font-size: 0px;
  overflow: hidden;
}
