$color-azul: #145BA6;
$color-azul-claro: #6597CC;
$color-azul-light: #007BFE;

// [for theme]
$color-bg-body: #2D2F3B;
$color-bg-sidebar: #40466B;
$color-bg-header: #40466B;
$color-bg-header-back: #323F81;

// cors
$color-green: #00C820;
$color-red: #DF3D20;
$color-orange: #E79F00;
$color-blue: #0074FC;
$color-cinza: #9C9C9C;
$color-white: #e2e2e2;
$color-disabled: #565E74;
$color-h2: #DADCDD;;
$color-h3: #979EA2;
